@import '../../styles/shared/index';

@import '../../styles/shared/index';


.kvList {
  @include absolute(0, 0, 0, 0);
  padding: rem(10) rem(20);
  margin: 0;
  overflow: auto;
  transition: opacity 200ms ease;
  opacity: 0;
  pointer-events: none;

  > ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.visible {
  opacity: 1;
  pointer-events: all;
}

.kv {
  padding: rem(10) 0;
  margin-bottom: rem(10);
  opacity: 0.4;
  position: relative;

  &.onThisPage {
    opacity: 1;
  }

  &.hasRedact {
    padding-right: rem(75);
  }

  h5 {
    @include type-body-primary;
    margin: 0;
  }

  p {
    @include type-body-secondary;
    margin: 0;
  }
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: center;

  > * {
    margin: rem(10) 0;
  }
}

.noKv {
  margin: rem(10);
}

.pageSeparator {
  font-size: .8em;
  text-transform: uppercase;
  padding-top: 1em;
}


.valueRedact {
  position: absolute;
  right: 0;
  top: rem(15);
  opacity: .8;
  cursor: pointer;
  background: color(gray, 80);
  color: color(orange, 20);
  padding: em(2) em(8);
  border-radius: rem(3);

  &:hover {
    opacity: 1;
  }
}

.cell{
  overflow:scroll;
  width:100%;
  //max-width: 20%;
  max-height: 130px;
  //background: color(gray, 80);
  //background:#3b4550;
  color: color(orange, 20);
}


.muted {
  color: color(gray, 60);
  background-color: color(gray, 30);
}

