# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
deployment/build-dist/

# misc
.DS_Store
.env

# Web app
app/.next/
app/out/

# CDK
cdk.out/

#deployment
deployment/build-dist/
deployment/build-dist/*

