@import '../../styles/shared/index';

.viewer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  overflow-y: scroll;
  @include site-gutters;
}

.pdfViewer {
  overflow-y: hidden;
  align-items: stretch;
}

.document {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.pager {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 66.11296vw;
  max-width: 90%;
  align-self: center;
}

.page {
}

.imageWrapper {
  flex: 1 1 0px;
  text-align: center;

  .canvas {
    width: 100%;
    display: inline-flex;
  }
}

.image {
  width: 100%;
}

.canvas {
  box-shadow: 0 2px 10px rgba(color(gray, 80), 0.1);
  position: relative;
  display: flex;
  flex: 1;
  font-size: 0;
  align-self: center;
  flex: column;
  justify-content: center;
}

.pdfViewer .canvasWrapper {
  flex: 1 1 0px;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.highlight {
  position: absolute;
  display: block;
  background-color: rgba(#fee385, 0.5);
  box-shadow: 0 0 0 2px #996633;
  box-sizing: content-box;
  transition: all 1000ms 1000ms linear;
  transition-property: background-color, box-shadow;

  @supports(mix-blend-mode: multiply) {
    background-color: #fee385;
    mix-blend-mode: multiply;
  }

  &:global(.key) {
    background-color: rgba(#16bf9f, 0.5);
    box-shadow: 0 0 0 2px #16bf9f;
  }

  &.highlighted {
    background-color: rgba(#0095ff, 0.5);
    box-shadow: 0 0 0 2px #0095ff;
    transition: none;
  }
}

.redact {
  position: absolute;
  display: block;
  background: rgba(grey, 0.2);
  box-shadow: 0 0 0 2px #000;
  box-sizing: content-box;
  z-index: 0;
}

.exportPreviewRedaction {
  background: #000;
}

.cellHighlight {
  position: absolute;
  display: block;
  background: transparent;
  box-shadow: 0 0 0 0.5px color(orange);
  pointer-events: none;
}
