// sass-lint:disable property-sort-order

// Amazon Ember
// =============================================================================

// Regular
@font-face {
  font-family: 'Amazon Ember';
  src: url('/static/fonts/amazon-ember_rg.woff2'),
  url('/static/fonts/amazon-ember_rg.woff');
  font-weight: normal;
  font-style: normal;
}

// Regular Italic
@font-face {
  font-family: 'Amazon Ember';
  src: url('/static/fonts/amazon-ember_rgit.woff2'),
  url('/static/fonts/amazon-ember_rgit.woff');
  font-weight: normal;
  font-style: italic;
}

// Medium
@font-face {
  font-family: 'Amazon Ember';
  src: url('/static/fonts/amazon-ember-md.woff2'),
  url('/static/fonts/amazon-ember-md.woff');
  font-weight: 500;
  font-style: normal;
}

// Medium Italic
@font-face {
  font-family: 'Amazon Ember';
  src: url('/static/fonts/amazon-ember-mdit.woff2'),
  url('/static/fonts/amazon-ember-mdit.woff');
  font-weight: 500;
  font-style: italic;
}

// Bold
@font-face {
  font-family: 'Amazon Ember';
  src: url('/static/fonts/amazon-ember_bd.woff2'),
  url('/static/fonts/amazon-ember_bd.woff');
  font-weight: 700;
  font-style: normal;
}

// Bold Italic
@font-face {
  font-family: 'Amazon Ember';
  src: url('/static/fonts/amazon-ember_bdit.woff2'),
  url('/static/fonts/amazon-ember_bdit.woff');
  font-weight: 700;
  font-style: italic;
}
