@import '../../styles/shared/index';

.cameraCapture {
  @include fixed(0, 0, 0, 0);
  z-index: 10;
  display: flex;
  flex-direction: column;
  background: #000;
  align-items: center;

  > video {
    flex: 1 1 0px;
    width: 100%;
    overflow: hidden;
    object-fit: contain;
  }

  .button {
    margin: 15px;
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: inset 0 0 0 3px #000;
  }
}

.cancel {
  position: absolute;
  right: 1em;
  bottom: 30px;
}
