@import '../../styles/shared/index';

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  flex: 1;
  justify-content: center;
  background-color:rgba(255, 255, 255, 0.5);;
  align-content: center;
  transition: 1.1s ease-out;
  box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
  filter: blur(0);
  transform: scale(1);
  z-index: 1000;
  visibility: visible;
}
.modal .modal__content{
  width: 75%;
  margin: 20% auto; 
  overflow: auto;
}
.modal.off {
  opacity: 0;
  visibility: hidden;
  filter: blur(8px);
  transform: scale(0.33);
  box-shadow: 1rem 0 0 rgba(0, 0, 0, 0.2);
}
@supports (offset-rotation: 0deg) {
  .modal.off {
    offset-distance: 100%;
  }
}
@media (prefers-reduced-motion) {
  .modal {
    offset-path: none;
  }
}
.modal h4 {
  left: 50%;
  top: 50%;
  align-content: center;
  color: black;
  border-bottom: 1px solid #ccc;
  background-color: white;
  padding: 1rem;
  margin: 0;
}
.modal .content {
  left: 50%;
  top: 50%;
  padding: 1rem;
  color: black;
  border: 1px solid #ccc;
  background-color: white;
  justify-content: center;
  align-content: center;
  align-self: center;
  -webkit-overflow-scrolling: touch;
}
.modal .actions {
  border-top: 1px solid #ccc;
  background: #eee;
  padding: 0.5rem 1rem;
}
.modal .actions button {
  border: 0;  
  background:color(orange,20);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  line-height: 1;
}
#centered-toggle-button {
  position: absolute;
}