@import '../../styles/shared/index';


.searchBar {
  display: flex;
  align-items: center;
  padding: em(10) 0;
  position: relative;
}

.search {
  display: block;
  flex: 1;
}

.clear {
  position: absolute;
  right: 0;
  z-index: 2;
  margin: 0;
  border: none;
  padding: 0;
  top: 13px;
  right: 8px;

  svg {
    margin: 0 !important;
  }
}
