@import '../../styles/shared/index';

.container {
  position: relative;
  text-align: right;
  z-index: 4;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(color(gray, 90), 0.8);
  z-index: 3;
}

.filterButton {
  margin-top: 1.6em;
  padding: .25em 1em;
  padding-right: .75em;
  border: 1px solid #fff;
  cursor: pointer;
  display: inline-block;
  border-radius: .25em;

  &.hasFilter {
    border-color: $link-blue;
  }

  &:after {
    content: '▼';
    margin-left: 1ch;
  }
}
