@import '../../styles/shared/index';

.container {
  position: relative;
  text-align: right;
}

.filterButton {
  padding: .25em 1em;
  padding-right: .75em;
  border: 1px solid #fff;
  cursor: pointer;
  display: inline-block;
  border-radius: .25em;

  &.hasFilter {
    border-color: color(blue, 10);
  }

  &:after {
    content: '▼';
    margin-left: 1ch;
  }
}

.popover {
  position: absolute;
  right: 0;
  padding: 0 1em;
  border-radius: .5em;
  text-align: left;
  z-index: 100;
  background: #fff;
  color: #000;
  width: 700px;
  display: none;

  footer {
    background: color(gray, 20);
    margin: 0 -1em;
    padding: 1em;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    text-align: right;
  }
}

.popover.visible {
  display: block;
}

.personas {
  display: flex;
  flex-direction: row;
  margin: 0 1em;

  > * {
    display: flex;
    flex-direction: column;
    flex: 0 1 200px;
    margin: 0 1em;
    align-items: center;
    font-size: 0.8em;
    text-align: center;
  }

  img {
    max-width: 100px;
    margin-bottom: .5em;
  }
}

.moreInfoContainer {
  a {
    color: color(blue, 10);
    font-style: italic;
    cursor: pointer;
  }
}
