@import '../../styles/shared/index';

.item {
  border-top: 1px solid color(gray, 60);
  padding: 1em 1.5em;
}

.question {
  cursor: pointer;
  display: flex;

  a {
    text-decoration: none;
  }

  h3 {
    color: $link-blue;
    font-size: 1.25em;
    margin: 0;
    padding-bottom: 0;
    flex: 1 1 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &:after {
    content: '▶\fe0e';
    flex: 0 0 auto;
    margin-left: 1em;
  }

  &.expanded:after {
    content: '▼'
  }
}

.answer {

  p {
    @include type-body-secondary(color(gray, 20));
    margin: .25em 0 0;
  }

}
