@import '../../styles/shared/index';

.faqs {
  border: 1px solid color(gray, 60);
  background: color(gray, 70);
  border-radius: 1em;
  margin-top: 2em;

  > header {
    padding: 1em 1.5em;
  }

  h2 {
    font-size: 1em;
    color: color(gray, 60);
    margin: 0;
    padding: 0;
  }
}
