@import '../../styles/shared/index';


.lineList {
  @include absolute(0, 0, 0, 0);
  padding: rem(10) rem(20);
  margin: 0;
  overflow: auto;
  transition: opacity 200ms ease;
  opacity: 0;
  pointer-events: none;

  > ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.visible {
  opacity: 1;
  pointer-events: all;
}

.line {
  padding-bottom: rem(10);
  opacity: 0.4;
  position: relative;

  &.onThisPage {
    opacity: 1;
  }
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: center;

  > * {
    margin: rem(10) 0;
  }
}

.empty {
  margin: rem(10);
}

.pageSeparator {
  font-size: .8em;
  text-transform: uppercase;
  padding-top: 2em;
}


.valueRedact {
  position: absolute;
  right: 0;
  top: rem(15);
  opacity: .8;
  cursor: pointer;
  background: color(gray, 80);
  color: color(orange, 20);
  padding: em(2) em(8);
  border-radius: rem(3);

  &:hover {
    opacity: 1;
  }
}
